#histogramCanvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(100, 100, 100);
}

#curveCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#step {
  width: 40px;
  outline: none;
  border: none;
  border-bottom: 1px black solid;
  text-align: center;
}

#canvasContainer {
  position: relative;
  height: 250px;
  margin: 10px 0 10px 60px;
}

.imageFusion {
  margin-top: 10px;
}

#addImage, #subImage {
  width: 270px;
  overflow: hidden;
}

#titleExp2 img {
  width: 950px;
}

#equalization {
  background-color: rgba(153, 226, 245, 0.5);
}