#histogramCanvas {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(100, 100, 100);
}

#curveCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#step {
  width: 50px;
  outline: none;
  border: none;
  border-bottom: 1px black solid;
}

#canvasContainer {
  position: relative;
  height: 250px;
  margin-left: 30px;
}

.imageFusion {
  margin-top: 10px;
}

#addImage, #subImage {
  width: 270px;
  overflow: hidden;
}